body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form{ 
    width: 270px;
    background-color: rgba(0, 0, 0, 0.084);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
div{
    margin-top: 15px;
}
input{
    float: right;
}
div#button{
    display: flex;    
    justify-content: center;   
    margin-bottom: 15px;
}
button{
    background-color: rgba(0, 0, 255, 0.2);
}